.contacts-widget .contact-info li i {
    color: #24ab81;
    margin-right: 10px;
}

.clg{
    color: #999;
}

.clw{
    color: #ffffff;
}

.navbar{
    display: flex;
    background: url(../img/crossword.png) repeat scroll 0 0 #5a88ca;
}

.list-itemP{
    display: flex;
}

.item-P{
    margin: auto 0;
}

.shopping-item{
    margin: auto;
}